## 변수와 데이터 타입

1. 숫자형 (실수형, 정수형)
2. 문자형
3. boolean형

In [ ]:
age = 20 # 자신의 나이를 적어보세요.
height = 199.9 # 자신의 키를 적어보세요.
name = "홍길동" #자신의 이름을 적어보세요

In [ ]:
# 타입
print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print("저의 이름은",name,"이고, 키와 나이는 ",height,"cm, ",age,"살 입니다." )

저의 이름은 홍길동 이고, 키와 나이는  199.9 cm,  20 살 입니다.

## 연산자와 계산

1. 산술 연산자
2. 비교 연산자
3. 논리 연산자

In [ ]:
# 산술연산자
a = 10
b = 3
print(a+b) # 덧셈
print(a-b) # 뺄셈
print(a*b) # 곱셈
print(a/b) # 나누기
print(a//b) # 몫
print(a%b) # 나머지
print(a**b) # 거듭제곱

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# 비교 연산자 >, <, >=, <=. ==. !=
a = 1
b = 5
print(a>b) # a가 b보다 큰가?
print(a<b) # a가 b보다 작은가?
print(a>=b) # a가 b 이상인가?
print(a<=b) # a가 b 이하인가?
print(a==b) # a와 b가 동일한가?
print(a!=b) # a랑 b가 다른가?

False
True
False
True
False
True

In [ ]:
# 논리 연산자 and, or, not 등..
a = True # boolean 타입
b = False
print(a and b) # and
print(a or b) # or
print(not a) # not

False
True
False

## 조건문
1. if문
2. if - else문
3. if - elif - else문

In [ ]:
# if문
a = 10
if a>5:
    print("a는 5보다 크다")

a는 5보다 크다

In [ ]:
# if - else문
a = 10
if a>5:
    print("a는 5보다 크다")
else:
    print("a는 5보다 작다")

a는 5보다 크다

In [ ]:
# if -elif - else문
a = 10
if a>5:
    print("a는 5보다 크다")
elif a==5:
    print("a는 5이다")
else:
    print("a는 5보다 작다")

a는 5보다 크다

## list 자료형
여러 개의 값을 하나의 변수에 저장할 수 있는 데이터 구조

In [ ]:
score = [100, 90, 95, 50, 100]
print(score)
print(type(score))

[100, 90, 95, 50, 100]
<class 'list'>

## 반복문
1. for
2. while
+ break, continue

In [ ]:
# for
# list 자료형에서 저장해놓은 score를 이용해 나의 성적 출력해보기
for i in score:
    print(i)

100
90
95
50
100

In [ ]:
# 내 성적의 평균도 구해볼 수 있어요 !

sum = 0 # 내 점수의 합계
for i in score:
    sum += i
# len(score): 몇 개의 과목인지 알 수 있음

print(sum/len(score))

87.0

In [ ]:
i = 0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9